
.f-right {
    float: right
}

.fix {
    overflow: hidden
}

.clear {
    clear: both
}

.mb-5 {
    margin-bottom: 5px
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-35 {
    margin-bottom: 35px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-45 {
    margin-bottom: 45px
}

.mb-50 {
    margin-bottom: 50px
}

.pt-50 {
    padding-top: 50px
}

.pb-40 {
    padding-bottom: 40px
}

.mt-10 {
    margin-top: 10px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

a,
.button {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s
}



button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit
}

ul {
    margin: 0px;
    padding: 0px
}

li {
    list-style: none
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0
}

.breadcrumb>.active {
    color: #888
}

.sticky-bar {
    left: 0;
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
    z-index: 9999;
    -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1)
}




.brand-area {
    background: #222327
}

.brand-active button.slick-arrow {
    position: absolute;
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 40px;
    cursor: pointer;
    background: none;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    z-index: 2
}

@media (max-width: 575px) {
    .brand-active button.slick-arrow {
        display: none
    }
}

.brand-active button.slick-arrow i {
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
    color: #B2B2B2;
    font-size: 24px
}

.brand-active button.slick-arrow i:hover {
    color: #F15D2A
}

.brand-active button.slick-next {
    left: auto;
    right: -50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .brand-active button.slick-next {
        right: -5px
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .brand-active button.slick-next {
        right: -28px
    }
}

.slick-initialized .slick-slide {
    outline: 0
}