
  
  .popover-body {
    padding: 0.5rem 0.75rem;
    color: #212529; }
  
  .carousel {
    position: relative; }
  
  .carousel.pointer-event {
    -ms-touch-action: pan-y;
    touch-action: pan-y; }
  
  .carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden; }
    .carousel-inner::after {
      display: block;
      clear: both;
      content: ""; }
  
  .carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-item {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  
  .carousel-item.active,
  .carousel-item-next,
  .carousel-item-prev {
    display: block; }
  
  .carousel-item-next:not(.carousel-item-left),
  .active.carousel-item-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
  
  .carousel-item-prev:not(.carousel-item-right),
  .active.carousel-item-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%); }
  
  .carousel-fade .carousel-item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  
  .carousel-fade .carousel-item.active,
  .carousel-fade .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-item-prev.carousel-item-right {
    z-index: 1;
    opacity: 1; }
  
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    z-index: 0;
    opacity: 0;
    -webkit-transition: 0s 0.6s opacity;
    -o-transition: 0s 0.6s opacity;
    transition: 0s 0.6s opacity; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-fade .active.carousel-item-left,
      .carousel-fade .active.carousel-item-right {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
  
  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 15%;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    -webkit-transition: opacity 0.15s ease;
    -o-transition: opacity 0.15s ease;
    transition: opacity 0.15s ease; }
    @media (prefers-reduced-motion: reduce) {
      .carousel-control-prev,
      .carousel-control-next {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .carousel-control-prev:hover, .carousel-control-prev:focus,
    .carousel-control-next:hover,
    .carousel-control-next:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: 0.9; }
  
  .carousel-control-prev {
    left: 0; }
  
  .carousel-control-next {
    right: 0; }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50% / 100% 100%; }
  
  .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"); }
  
  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"); }
  
  .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none; }
    .carousel-indicators li {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 30px;
      height: 3px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #fff;
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      opacity: .5;
      -webkit-transition: opacity 0.6s ease;
      -o-transition: opacity 0.6s ease;
      transition: opacity 0.6s ease; }
      @media (prefers-reduced-motion: reduce) {
        .carousel-indicators li {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
    .carousel-indicators .active {
      opacity: 1; }
  
 
    .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 1.25rem;
      left: 15%;
      padding-top: 10rem !important;
      padding-bottom: 1.25rem;
      color: #fff;
      text-align: center;
    }
  
  .img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; }
  
  .slider-hero {
    position: relative; }
  
  .owl-carousel {
    position: relative; }
    .owl-carousel .owl-item {
      opacity: 1; }
      .owl-carousel .owl-item.active {
        opacity: 1; }
    .owl-carousel .owl-nav {
      position: absolute;
      top: 50%;
      width: 100%; }
      .owl-carousel .owl-nav .owl-prev,
      .owl-carousel .owl-nav .owl-next {
        position: absolute;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        margin-top: 0;
        color: white !important;
        -webkit-transition: 0.7s;
        -o-transition: 0.7s;
        transition: 0.7s;
        opacity: 1; }
        @media (prefers-reduced-motion: reduce) {
          .owl-carousel .owl-nav .owl-prev,
          .owl-carousel .owl-nav .owl-next {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
          font-size: 30px; }
      .owl-carousel .owl-nav .owl-prev {
        left: 20px; }
      .owl-carousel .owl-nav .owl-next {
        right: 20px; }
    .owl-carousel .owl-dots {
      text-align: center;
      margin-top: 0;
      position: absolute;
      bottom: 20px;
      right: 0;
      left: 0; }
      .owl-carousel .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.5);
        position: relative; }
        .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
          outline: none !important; }
        .owl-carousel .owl-dots .owl-dot.active {
          background: #ff5959; }
  
  .owl-carousel.owl-drag .owl-item {
    -ms-touch-action: pan-y;
    touch-action: pan-y; }
  
  .work {
    width: 100%; }
    .work .img {
      background-size: contain;
      width: 100%;
      height: 400px;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      overflow: hidden;
      -webkit-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
      -moz-box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26);
      box-shadow: 0px 20px 35px -30px rgba(0, 0, 0, 0.26); }
      .work .img:after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        opacity: .3; }
    .work .text h2 {
      font-size: 60px;
      font-weight: 200;
      color: #fff;
      text-transform: uppercase; }
      @media (max-width: 991.98px) {
        .work .text h2 {
          font-size: 40px; } }
    .work .text span {
      font-size: 12px;
      letter-spacing: 1px;
      color: rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      font-weight: 500; }
  
  .thumbnail {
    list-style: none;
    position: absolute;
    z-index: 1000;
    padding: 0;
    margin: 0;
    bottom: 0px;
    left: 50%;
    -webkit-transform: translateY(50%) translateX(-50%);
    -ms-transform: translateY(50%) translateX(-50%);
    transform: translateY(50%) translateX(-50%);
    width: 100%; }
    .thumbnail li {
      display: inline-block; }
      .thumbnail li a {
        display: block;
        margin: 4px; }
        .thumbnail li a img {
          width: 100px;
          border-radius: 10%;
          -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
          transform: scale(0.8);
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); }
      .thumbnail li a:hover {
       
        transform: scale(1.3);
         }
      @media (max-width: 767.98px) {
        .thumbnail li a img {
          width: 50px; } 
          .carousel-caption {
            padding-top: 0rem !important;
          }
          .text-carousel-items {
            margin-top: 4.5rem !important;
          }}
          .img-thumbnail {
            padding: 0.25rem;
            background-color: #fff;
            border: 1px solid #dee2e6;
            border-radius: 0.25rem;
            max-width: 100%;
            height: auto; }

            body{
              background: #222327; 
            }
            .box {
            width: 850px;
            position: relative;
            border-radius: 50px;
            padding-top: 320px;
            margin: 110px auto;
            height: 100px;
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.8);
            }
            .box > img {
            position: absolute;
            left: 0;
            top: 0;
            transition: all 0.5s;
            width: 100%;
            height: 420px;
            border-radius: 50px;
            }
            
            .box input[name='animate'] {
            display: none;
            }
            
            .box label {
            margin: 150px auto auto 95px;
            border: 5px solid #fff;
            float: left;
            cursor: pointer;
            transition: all 0.5s;
            opacity: 0.6;
            border-radius: 25px;
            }
            
            .box label img {
            display: block;
            border-radius: 25px;
            }
            .box input[name='animate']:checked+label {
            border-color: #000;
            opacity: 1;
            }
            .box input[name='animate'] ~ img {
            opacity: 0;
            transform: scale(1.1); 
            }
            .box input[name='animate']:checked+label+img {
            opacity: 1;
            transform: scale(1);
            }
            
            